$color_1: rgb(255, 255, 255);
$color_2: rgb(186, 186, 186);
$color_3: rgb(255, 102, 0);
$color_4: rgb(0, 51, 153);
$color_5: rgb(153, 0, 204);
$color_6: rgb(153, 153, 153);
$color_7: rgb(160, 53, 55);
$color_8: rgb(254, 165, 0);
$color_9: rgb(142, 210, 0);
$color_10: rgb(51, 51, 51);
$color_11: rgb(164, 202, 57);
$color_12: rgb(0, 0, 0);
$color_13: rgb(213, 0, 110);
$color_14: rgb(102, 102, 102);
$color_15: rgb(204, 51, 51);
$color_16: rgb(20, 147, 246);
$color_17: rgb(46, 97, 242);
$color_18: rgb(255, 152, 0);
$color_19: rgb(51, 204, 51);
$color_20: rgb(180, 189, 204);
$color_21: rgb(84, 56, 40);
$color_22: rgb(233, 89, 39);
$color_23: rgb(251, 205, 0);
$color_24: rgb(61, 175, 0);
$color_25: rgb(37, 167, 240);
$color_26: rgb(203, 203, 202);
$color_27: rgb(62, 174, 0);
$color_28: rgb(37, 165, 236);
$color_29: rgb(201, 200, 199);
$color_30: rgb(251, 203, 0);
$color_31: rgb(85, 57, 40);
$color_32: rgb(77, 27, 155);
$color_33: rgb(51, 102, 153);
$color_34: rgb(193, 30, 7);
$color_35: rgb(17, 17, 17);
$color_36: rgb(102, 153, 102);
$color_37: rgb(103, 158, 178);
$color_38: rgb(204, 153, 51);
$color_39: rgb(40, 51, 76);
$color_40: rgb(99, 183, 99);
$color_41: rgb(244, 67, 54);
$color_42: rgb(33, 150, 243);
$color_43: rgb(76, 175, 80);
$color_44: rgb(255, 193, 7);
$color_45: rgb(114, 165, 54);
$color_46: rgb(31, 114, 68);
$color_47: rgb(234, 180, 27);
$color_48: rgb(0, 145, 234);
$color_49: rgb(26, 117, 206);
$color_50: rgb(239, 128, 111);
$color_51: rgb(30, 166, 198);
$color_52: rgb(206, 210, 216);
$color_53: rgb(242, 242, 242);
$color_54: rgb(84, 184, 69);
$color_55: rgb(251, 211, 3);
$color_56: rgb(240, 88, 47);
$color_57: rgb(110, 177, 225);
$color_58: rgb(126, 87, 194);
$color_59: rgb(54, 69, 77);
$color_60: rgb(114, 145, 161);
$color_61: rgb(153, 102, 51);
$color_62: rgb(209, 4, 7);
$color_63: rgb(239, 206, 74);
$color_64: rgb(235, 186, 22);
$color_65: rgb(45, 188, 175);
$color_66: rgb(175, 121, 49);
$color_67: rgb(2, 48, 58);
$color_68: rgb(20, 59, 86);
$color_69: rgb(193, 151, 112);
$color_70: rgb(143, 78, 139);
$color_71: rgb(215, 91, 38);
$color_72: rgb(219, 0, 123);
$color_73: rgb(147, 136, 134);
$color_74: rgb(180, 23, 23);
$color_75: rgb(38, 93, 180);
$color_76: rgb(204, 0, 0);
$color_77: rgb(48, 122, 198);
$color_78: rgb(114, 190, 211);
$color_79: rgb(31, 56, 94);
$color_80: rgb(81, 113, 165);
$color_81: rgb(232, 142, 61);
$color_82: rgb(112, 88, 198);
$color_83: rgb(0, 102, 102);
$color_84: rgb(0, 0, 128);
$color_85: rgb(168, 124, 45);
$color_86: rgb(45, 113, 54);
$color_87: rgb(29, 111, 181);
$color_88: rgb(85, 72, 109);
$color_89: rgb(255, 20, 31);
$color_90: rgb(255, 0, 33);
$color_91: rgb(103, 129, 178);
$color_92: rgb(58, 60, 91);
$color_93: rgb(198, 168, 229);
$color_94: rgb(239, 113, 47);
$color_95: rgb(245, 126, 0);
$color_96: rgb(97, 144, 170);
$color_97: rgb(115, 115, 115);
$color_98: rgb(68, 68, 68);
$color_99: rgb(81, 120, 137);
$color_100: rgb(0, 51, 204);
$color_101: rgb(7, 114, 101);
$color_102: rgb(254, 209, 66);
$color_103: rgb(53, 113, 163);
$color_104: rgb(153, 35, 21);
$color_105: rgb(58, 137, 141);
$color_106: rgb(0, 153, 153);
$color_107: rgb(221, 125, 54);
$color_108: rgb(205, 103, 153);
$color_109: rgb(204, 102, 0);
$color_110: rgb(255, 102, 51);
$color_111: rgb(250, 42, 34);
$color_112: rgb(131, 173, 81);
$color_113: rgb(64, 101, 170);
$color_114: rgb(127, 175, 74);
$color_115: rgb(55, 83, 157);
